<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      
        <div class="card">
          <div class="card-header">
            <h1><a href="/<%= abbrv %>/<%= capitulo %>"><%= livro %> </a> - <small>Capítulo <%= capitulo %></small></h1>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><cite>Versículo:</cite></p>
                <div class="listaVersiculos">
                      <small><%= versiculo %> </small>
                      <span><%= texto %></span>
                </div>
            </blockquote>
          </div>
        </div>

    </div>
  </div>

<% include partials/footer.ejs %>